@tailwind base;
@tailwind components;
@tailwind utilities;

/* Wave Animation */
.wave-animation path {
    animation: wave 6s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

@keyframes wave {
    0% {
        d: path("M0,128L1440,64L1440,0L0,0Z");
    }
    50% {
        d: path("M0,160L1440,96L1440,0L0,0Z");
    }
    100% {
        d: path("M0,128L1440,64L1440,0L0,0Z");
    }
}
